![film](https://raw.githubusercontent.com/Mantvydas-data/Programming-for-DA-2021-Proj/main/data/denise-jans-tV80374iytg-unsplash.PNG)

Photo by <a href="https://unsplash.com/@dmjdenise?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Denise Jans</a> on <a href="https://unsplash.com/s/photos/film?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

# Intro
***
The aim of this project is to simulate dataset that represents real life measurable phenomenon with simulated dataset having at least one hundred data point with at least four different variables. Sinthesised data should have close to real life properties and relationship amongst variables.

# Project description plan
***
During recent wordwide lockdown it became increasingly popular to have a subscription to one of many movie/TV streaming services. These platforms experienced unprecedented growth month on month basis becoming daily habit for most. This project will look into simulating a dataset of fictional movie streaming platform 'MFLIX' usage log with dates, movie stream count per hour, movie category, user ID, user gender and name with surname. Different methods learned during this semester will be used in this project.

# Generating data

In [1]:
# Importing required packages by their orthodox abbreviations
import matplotlib.pyplot as plt # Plotting
import numpy as np # Mathematical arrays
import pandas as pd # Work with data frames

# Importing random generator and assigning it to rng variable
from numpy.random import default_rng

rng = default_rng()

# Dates and times by hour
A date list with hourly timestamp

In [2]:
# Generating a range of dates by the hour

# Count of hourly observations for month of December
periods = 31*24

# Hourly date and time for December
dfdate = pd.date_range('2021-12-01', freq='H', periods=periods)

dfdate

DatetimeIndex(['2021-12-01 00:00:00', '2021-12-01 01:00:00',
               '2021-12-01 02:00:00', '2021-12-01 03:00:00',
               '2021-12-01 04:00:00', '2021-12-01 05:00:00',
               '2021-12-01 06:00:00', '2021-12-01 07:00:00',
               '2021-12-01 08:00:00', '2021-12-01 09:00:00',
               ...
               '2021-12-31 14:00:00', '2021-12-31 15:00:00',
               '2021-12-31 16:00:00', '2021-12-31 17:00:00',
               '2021-12-31 18:00:00', '2021-12-31 19:00:00',
               '2021-12-31 20:00:00', '2021-12-31 21:00:00',
               '2021-12-31 22:00:00', '2021-12-31 23:00:00'],
              dtype='datetime64[ns]', length=744, freq='H')

# Streaming counts - Depends on time of the day. 
***
To have realistic sream data views per hour needs to adhere to time of day to simulate peak-offpeak times of the day. Time serries data will be split by time of the day for random stream data count to be generated having not many streams during late night and early morning hours, medium usage during the day and peak time from 5 PM to 1AM. Streams will be 30% higher on Fridays, where on Saturday and Sunday they will increase to 40% compared to work day usage.

In [3]:
# Creating H columnt to number each hour sample in the date range 
df= pd.DataFrame({'H': np.arange(len(dfdate))}, index=dfdate)

# Spliting time series by time of day as dataframe variable
night = pd.DataFrame(df.between_time("02:01","06:00"))
morning = pd.DataFrame(df.between_time("06:01","12:00"))
afternoon = pd.DataFrame(df.between_time("12:01","17:00"))
evening = pd.DataFrame(df.between_time("17:01","02:00"))

night

                       H
2021-12-01 03:00:00    3
2021-12-01 04:00:00    4
2021-12-01 05:00:00    5
2021-12-01 06:00:00    6
2021-12-02 03:00:00   27
...                  ...
2021-12-30 06:00:00  702
2021-12-31 03:00:00  723
2021-12-31 04:00:00  724
2021-12-31 05:00:00  725
2021-12-31 06:00:00  726

[124 rows x 1 columns]

In [4]:
# Setting time of day clasification by times  
night['periods'] = 'night'
morning['periods'] = 'morning'
afternoon['periods'] = 'afternoon'
evening['periods'] = 'evening'

In [5]:
# Adding date-time as value instead of index
df['udates'] = df.index
# Populating weekdays for weekend usage to be incremented
df['weekday'] = df.index.weekday

In [6]:
# Setting df index to H for data to be joined based on
df.set_index('H', inplace=True)
df

                 udates  weekday
H
0   2021-12-01 00:00:00        2
1   2021-12-01 01:00:00        2
2   2021-12-01 02:00:00        2
3   2021-12-01 03:00:00        2
4   2021-12-01 04:00:00        2
..                  ...      ...
739 2021-12-31 19:00:00        4
740 2021-12-31 20:00:00        4
741 2021-12-31 21:00:00        4
742 2021-12-31 22:00:00        4
743 2021-12-31 23:00:00        4

[744 rows x 2 columns]

In [7]:
df

                 udates  weekday
H
0   2021-12-01 00:00:00        2
1   2021-12-01 01:00:00        2
2   2021-12-01 02:00:00        2
3   2021-12-01 03:00:00        2
4   2021-12-01 04:00:00        2
..                  ...      ...
739 2021-12-31 19:00:00        4
740 2021-12-31 20:00:00        4
741 2021-12-31 21:00:00        4
742 2021-12-31 22:00:00        4
743 2021-12-31 23:00:00        4

[744 rows x 2 columns]

In [8]:
# Random steam counts for different time of the day
# Night streams 0 to 3 per hour
night['streams'] = rng.integers(0, 3, len(night))
# Morning streams 2 to 10 per hour
morning['streams'] = rng.integers(2, 10, len(morning))
# Afternoon streams 8 to 20 per hour
afternoon['streams'] = rng.integers(8, 20, len(afternoon))
# Evening streams 20 to 35 per hour
evening['streams'] = rng.integers(20, 35, len(evening))

In [9]:
evening

                       H  periods  streams
2021-12-01 00:00:00    0  evening       29
2021-12-01 01:00:00    1  evening       24
2021-12-01 02:00:00    2  evening       29
2021-12-01 18:00:00   18  evening       26
2021-12-01 19:00:00   19  evening       32
...                  ...      ...      ...
2021-12-31 19:00:00  739  evening       24
2021-12-31 20:00:00  740  evening       34
2021-12-31 21:00:00  741  evening       26
2021-12-31 22:00:00  742  evening       28
2021-12-31 23:00:00  743  evening       34

[279 rows x 3 columns]

In [10]:
# Joining data
# Setting index to H for all
night.set_index('H', inplace=True)
morning.set_index('H', inplace=True)
afternoon.set_index('H', inplace=True)
evening.set_index('H', inplace=True)

In [11]:
# Appending time of the day dataframes to be joined together
night = night.append(morning)
night = night.append(afternoon)
night = night.append(evening)
night

     periods  streams
H
3      night        0
4      night        1
5      night        2
6      night        2
27     night        1
..       ...      ...
739  evening       24
740  evening       34
741  evening       26
742  evening       28
743  evening       34

[744 rows x 2 columns]

In [12]:
# Joining values all together on preset index H
df = df.join(night, how='outer')

In [13]:
# Increasing weekend views to additional 30% on Fri, 40% Sat, Sun
# Also, rounding to int 
df['streams'] = np.rint(np.where(df['weekday'] == 4, df['streams'] * 1.3, df['streams']))
df['streams'] = np.rint(np.where((df['weekday'] == 5) | (df['weekday'] == 6), df['streams'] * 1.4, df['streams']))

In [14]:
df

                 udates  weekday  periods  streams
H
0   2021-12-01 00:00:00        2  evening     29.0
1   2021-12-01 01:00:00        2  evening     24.0
2   2021-12-01 02:00:00        2  evening     29.0
3   2021-12-01 03:00:00        2    night      0.0
4   2021-12-01 04:00:00        2    night      1.0
..                  ...      ...      ...      ...
739 2021-12-31 19:00:00        4  evening     31.0
740 2021-12-31 20:00:00        4  evening     44.0
741 2021-12-31 21:00:00        4  evening     34.0
742 2021-12-31 22:00:00        4  evening     36.0
743 2021-12-31 23:00:00        4  evening     44.0

[744 rows x 4 columns]

# Movie/TV Series Category - Randon selection from available list
***
Movie - TV Series category will be randomly assigned to views data from list variable containing available categories on the platform.

In [15]:
# Setting available movie/TV series categories
categories = ['Action', 'Comedy', 'Drama', 'Fantasy', 'Horror', 'Mystery', 'Romance', 'Thriller', 'Western']

#df['categories'] = rng.choice(categories,size=(len(df)))

# User ID

User ID will be generated chosing two letters followed by three random numbers, 50 active users from Ireland will have User IDs assigned.

In [16]:
# Importing Python modules String and Random
import string
import random

uid=[]
letters=''.join(random.choices(string.ascii_uppercase,k=2))
digits=''.join(random.choices(string.digits,k=3))
i=0
for i in range(50):
    uid.append(''.join(random.choices(string.ascii_uppercase,k=2)) + ''.join(random.choices(string.digits,k=3)))
    i +=1          
print(i)           


#df['categories'] = rng.choice(categories,size=(len(df)))

50

# User gender

Gender will be populated for User IDs that will determine name surname

# User Name and Surname? - Depends on gender to be chosen from a list
***
User name will be selected from list of popular Irish names depending on gender variable assigned previously.
Names will be retrieved from [Irishcentral](https://www.irishcentral.com/roots/100-irish-language-first-names-meanings) website by using regular expressions to extract it, if not sucessful manual list in CSV/Excel format will be prepared to be read for random selection.

https://www.irishcentral.com/roots/100-irish-language-first-names-meanings

# Joining all the data

Data will be joined together indexing one of data variables

# Save as CSV/xlsx

In [17]:
# df.to_excel('data/check.xlsx')

# Data overview and analysis/plots

In [18]:
Descriptive statistics

SyntaxError: invalid syntax (<ipython-input-18-fb5d223276d5>, line 1)

In [ ]:
views by time of the week kde line plot or time series line plot

In [ ]:
pie plot for most streamed movie categories by gender

In [ ]:
average week day views vs average weekend views?

In [ ]:
bar plot for one weeks streams

# References

https://stackoverflow.com/questions/41598916/resize-the-image-in-jupyter-notebook-using-markdown

https://stackoverflow.com/questions/41598916/resize-the-image-in-jupyter-notebook-using-markdown

https://stackoverflow.com/questions/56310849/generate-random-timeseries-data-with-dates

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

https://numpy.org/doc/stable/reference/generated/numpy.rint.html

https://stackoverflow.com/questions/28009370/get-weekday-day-of-week-for-datetime-column-of-dataframe

https://pandas.pydata.org/pandas-docs/version/0.17.1/merging.html

https://www.stackvidhya.com/pandas-iterate-over-rows/

https://datagy.io/pandas-conditional-column/

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.itertuples.html

https://www.geeksforgeeks.org/how-to-generate-a-random-letter-in-python/

https://stackoverflow.com/questions/2823316/generate-a-random-letter-in-python