![film](https://raw.githubusercontent.com/Mantvydas-data/Programming-for-DA-2021-Proj/main/data/denise-jans-tV80374iytg-unsplash.PNG)

Photo by <a href="https://unsplash.com/@dmjdenise?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Denise Jans</a> on <a href="https://unsplash.com/s/photos/film?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

# Intro
***
The aim of this project is to simulate dataset that represents real life measurable phenomenon with simulated dataset having at least one hundred data point with at least four different variables. Sinthesised data should have close to real life properties and relationship amongst variables.

# Project description plan
***
During recent wordwide lockdown it became increasingly popular to have a subscription to one of many movie/TV streaming services. These platforms experienced unprecedented growth month on month basis becoming daily habit for most. This project will look into simulating a dataset of fictional movie streaming platform 'MFLIX' usage log with dates, movie stream count per hour, movie category, user ID, user gender and name with surname. Different methods learned during this semester will be used in this project.

# Generating data

In [1]:
# Importing required packages by their orthodox abbreviations
import matplotlib.pyplot as plt # Plotting
import numpy as np # Mathematical arrays
import pandas as pd # Work with data frames

# Importing random generator and assigning it to rng variable
from numpy.random import default_rng

rng = default_rng()

# Dates and times by hour
A date list with hourly timestamp

In [2]:
# Generating a range of dates by the hour

# Count of hourly observations for month of December
periods = 31*24

# Hourly date and time for December
dfdate = pd.date_range('2021-12-01', freq='H', periods=periods)

dfdate

DatetimeIndex(['2021-12-01 00:00:00', '2021-12-01 01:00:00',
               '2021-12-01 02:00:00', '2021-12-01 03:00:00',
               '2021-12-01 04:00:00', '2021-12-01 05:00:00',
               '2021-12-01 06:00:00', '2021-12-01 07:00:00',
               '2021-12-01 08:00:00', '2021-12-01 09:00:00',
               ...
               '2021-12-31 14:00:00', '2021-12-31 15:00:00',
               '2021-12-31 16:00:00', '2021-12-31 17:00:00',
               '2021-12-31 18:00:00', '2021-12-31 19:00:00',
               '2021-12-31 20:00:00', '2021-12-31 21:00:00',
               '2021-12-31 22:00:00', '2021-12-31 23:00:00'],
              dtype='datetime64[ns]', length=744, freq='H')

# Streaming counts - Depends on time of the day. 
***
To have realistic sream data views per hour needs to adhere to time of day to simulate peak-offpeak times of the day. Time serries data will be split by time of the day for random stream data count to be generated having not many streams during late night and early morning hours, medium usage during the day and peak time from 5 PM to 1AM. Streams will be 30% higher on Fridays, where on Saturday and Sunday they will increase to 40% compared to work day usage.

In [3]:
# Creating H columnt to number each hour sample in the date range 
df= pd.DataFrame({'H': np.arange(len(dfdate))}, index=dfdate)

df2 = df['H']

# Spliting time series by time of day as dataframe variable
night = pd.DataFrame(df.between_time("02:01","06:00"))
morning = pd.DataFrame(df.between_time("06:01","12:00"))
afternoon = pd.DataFrame(df.between_time("12:01","17:00"))
evening = pd.DataFrame(df.between_time("17:01","02:00"))

night

                       H
2021-12-01 03:00:00    3
2021-12-01 04:00:00    4
2021-12-01 05:00:00    5
2021-12-01 06:00:00    6
2021-12-02 03:00:00   27
...                  ...
2021-12-30 06:00:00  702
2021-12-31 03:00:00  723
2021-12-31 04:00:00  724
2021-12-31 05:00:00  725
2021-12-31 06:00:00  726

[124 rows x 1 columns]

In [4]:
# Setting time of day clasification by times  
night['periods'] = 'night'
morning['periods'] = 'morning'
afternoon['periods'] = 'afternoon'
evening['periods'] = 'evening'

In [5]:
# Adding date-time as value instead of index
df['udates'] = df.index
# Populating weekdays for weekend usage to be incremented
df['weekday'] = df.index.weekday

In [6]:
# Setting df index to H for data to be joined based on
df.set_index('H', inplace=True)
df

                 udates  weekday
H
0   2021-12-01 00:00:00        2
1   2021-12-01 01:00:00        2
2   2021-12-01 02:00:00        2
3   2021-12-01 03:00:00        2
4   2021-12-01 04:00:00        2
..                  ...      ...
739 2021-12-31 19:00:00        4
740 2021-12-31 20:00:00        4
741 2021-12-31 21:00:00        4
742 2021-12-31 22:00:00        4
743 2021-12-31 23:00:00        4

[744 rows x 2 columns]

In [7]:
df

                 udates  weekday
H
0   2021-12-01 00:00:00        2
1   2021-12-01 01:00:00        2
2   2021-12-01 02:00:00        2
3   2021-12-01 03:00:00        2
4   2021-12-01 04:00:00        2
..                  ...      ...
739 2021-12-31 19:00:00        4
740 2021-12-31 20:00:00        4
741 2021-12-31 21:00:00        4
742 2021-12-31 22:00:00        4
743 2021-12-31 23:00:00        4

[744 rows x 2 columns]

In [8]:
# Random steam counts for different time of the day
# Night streams 0 to 3 per hour
night['streams'] = rng.integers(0, 3, len(night))
# Morning streams 2 to 10 per hour
morning['streams'] = rng.integers(2, 10, len(morning))
# Afternoon streams 8 to 20 per hour
afternoon['streams'] = rng.integers(8, 20, len(afternoon))
# Evening streams 20 to 35 per hour
evening['streams'] = rng.integers(20, 35, len(evening))

In [9]:
evening

                       H  periods  streams
2021-12-01 00:00:00    0  evening       33
2021-12-01 01:00:00    1  evening       31
2021-12-01 02:00:00    2  evening       29
2021-12-01 18:00:00   18  evening       31
2021-12-01 19:00:00   19  evening       28
...                  ...      ...      ...
2021-12-31 19:00:00  739  evening       20
2021-12-31 20:00:00  740  evening       20
2021-12-31 21:00:00  741  evening       31
2021-12-31 22:00:00  742  evening       26
2021-12-31 23:00:00  743  evening       25

[279 rows x 3 columns]

In [10]:
# Joining data
# Setting index to H for all
night.set_index('H', inplace=True)
morning.set_index('H', inplace=True)
afternoon.set_index('H', inplace=True)
evening.set_index('H', inplace=True)

In [11]:
# Appending time of the day dataframes to be joined together
night = night.append(morning)
night = night.append(afternoon)
night = night.append(evening)
night

     periods  streams
H
3      night        2
4      night        0
5      night        1
6      night        2
27     night        2
..       ...      ...
739  evening       20
740  evening       20
741  evening       31
742  evening       26
743  evening       25

[744 rows x 2 columns]

In [12]:
# Joining values all together on preset index H
df = df.join(night, how='outer')

In [13]:
# Increasing weekend views to additional 30% on Fri, 40% Sat, Sun
# Also, rounding to int 
df['streams'] = np.rint(np.where(df['weekday'] == 4, df['streams'] * 1.3, df['streams']))
df['streams'] = np.rint(np.where((df['weekday'] == 5) | (df['weekday'] == 6), df['streams'] * 1.4, df['streams']))

In [14]:
df

                 udates  weekday  periods  streams
H
0   2021-12-01 00:00:00        2  evening     33.0
1   2021-12-01 01:00:00        2  evening     31.0
2   2021-12-01 02:00:00        2  evening     29.0
3   2021-12-01 03:00:00        2    night      2.0
4   2021-12-01 04:00:00        2    night      0.0
..                  ...      ...      ...      ...
739 2021-12-31 19:00:00        4  evening     26.0
740 2021-12-31 20:00:00        4  evening     26.0
741 2021-12-31 21:00:00        4  evening     40.0
742 2021-12-31 22:00:00        4  evening     34.0
743 2021-12-31 23:00:00        4  evening     32.0

[744 rows x 4 columns]

# Movie/TV Series Category - Randon selection from available list
***
Movie - TV Series category will be randomly assigned to views data from list variable containing available categories on the platform.

In [15]:
# Setting available movie/TV series categories
categories = ['Action', 'Comedy', 'Drama', 'Fantasy', 'Horror', 'Mystery', 'Romance', 'Thriller', 'Western']

#df['categories'] = rng.choice(categories,size=(len(df)))

# User ID

User ID will be generated chosing two letters followed by three random numbers, 50 active users from Ireland will have User IDs assigned.

In [16]:
# Importing Python modules String and Random
import string
import random

uid=[]
letters=''.join(random.choices(string.ascii_uppercase,k=2))
digits=''.join(random.choices(string.digits,k=3))
i=0
for i in range(50):
    uid.append(''.join(random.choices(string.ascii_uppercase,k=2)) + ''.join(random.choices(string.digits,k=3)))
    i +=1          
print(i)           

df2= pd.DataFrame({'N': np.arange(50)})

df2['uid'] = uid
df2       
# df['categories'] = rng.choice(categories,size=(len(df)))

50

     N    uid
0    0  TT908
1    1  JZ732
2    2  PB973
3    3  AN519
4    4  QL830
5    5  UR861
6    6  IE957
7    7  EB001
8    8  RJ138
9    9  YU976
10  10  AJ798
11  11  YT522
12  12  XU552
13  13  CM636
14  14  CQ004
15  15  NK897
16  16  SZ917
17  17  JI511
18  18  US632
19  19  YT467
20  20  NQ836
21  21  MI447
22  22  XR198
23  23  RH426
24  24  AB623
25  25  LK528
26  26  GS121
27  27  SR983
28  28  JD655
29  29  EU774
30  30  WR271
31  31  RK982
32  32  NU489
33  33  OY272
34  34  EL544
35  35  TC118
36  36  RX849
37  37  JI301
38  38  UI309
39  39  JV809
40  40  UL449
41  41  YP827
42  42  YR938
43  43  OA104
44  44  LM614
45  45  OL334
46  46  JK476
47  47  AU298
48  48  LC350
49  49  WY010

# User gender

Gender will be populated for User IDs that will determine name surname

In [17]:
gender = ['female', 'male']
df2['ugender'] = rng.choice(gender ,size=(len(df2)))
df2

     N    uid ugender
0    0  TT908  female
1    1  JZ732    male
2    2  PB973    male
3    3  AN519  female
4    4  QL830    male
5    5  UR861  female
6    6  IE957    male
7    7  EB001    male
8    8  RJ138  female
9    9  YU976  female
10  10  AJ798    male
11  11  YT522    male
12  12  XU552  female
13  13  CM636  female
14  14  CQ004  female
15  15  NK897  female
16  16  SZ917    male
17  17  JI511  female
18  18  US632  female
19  19  YT467  female
20  20  NQ836    male
21  21  MI447    male
22  22  XR198    male
23  23  RH426  female
24  24  AB623    male
25  25  LK528    male
26  26  GS121  female
27  27  SR983    male
28  28  JD655    male
29  29  EU774  female
30  30  WR271  female
31  31  RK982    male
32  32  NU489    male
33  33  OY272  female
34  34  EL544  female
35  35  TC118  female
36  36  RX849  female
37  37  JI301  female
38  38  UI309    male
39  39  JV809    male
40  40  UL449  female
41  41  YP827    male
42  42  YR938    male
43  43  OA104    male
44  44  LM614    male
45  45  OL334  female
46  46  JK476  female
47  47  AU298    male
48  48  LC350  female
49  49  WY010  female

In [18]:
df2['ugender'].value_counts()

female    26
male      24
Name: ugender, dtype: int64

# User Name and Surname? - Depends on gender to be chosen from a list
***
User name will be selected from list of popular Irish names depending on gender variable assigned previously.
Names will be retrieved from [Irishcentral](https://www.irishcentral.com/roots/100-irish-language-first-names-meanings) website by using regular expressions to extract it, if not sucessful manual list in CSV/Excel format will be prepared to be read for random selection.

To reproduce Names file in text format:
1. Open the website link
2. Press Control+p (opens printable wersion with less adds)
3. Control+a followed by Control+c
4. open new text document with editor of choice
5. Contol+v inside the file.
6. Save txt file in project location, data folder as names.txt

https://www.irishcentral.com/roots/100-irish-language-first-names-meanings

In [19]:
# Regular expressions.
import re

In [20]:
with open('data/names.txt', 'r', encoding="utf8" ) as f2:
    data = f2.read()
    print(data)

12/30/21, 9:25 PM 100 Irish first names and their beautiful meanings
https://www.irishcentral.com/roots/100-irish-language-first-names-meanings 1/12
100 Irish first names and their beautiful meanings
Need to find an Irish name quick? Here are the top 100.
Kayla Hertz @IrishCentral May 02, 2021
Have a wee one on the way? Check out these Irish names. GETTY
Looking for an Irish name for a little bundle of joy on the way or justinspired by the beauty of
Irish names and their meanings? Here are 100 ideas for you!
Here are today's 100 most popular Irish language baby names, with their meanings and
pronunciations - 50 girl names and 50 boy names. See if yours made the cut, or peruse the list for
some inspiration!
Irish Girls Names:
1. Aoife (ee-fa)
This name means beautiful, radiant or joyful, and likely derives from the Gaelic word ‘aoibh’
meaning ‘beauty’ or ‘pleasure.’ In Irish mythology, Aoife is known as the greatest woman warrior in
the world. She gave birth to the mythological hero Cuchulainn’s only son, Connlach, and was the
daughter of a king of Connacht. Legend has it, her marriage was arranged by St. Patrick himself.
2. Caoimhe (kwee-va or kee-va)
From the Gaelic word "caomh,"this name means gentle, beautiful or precious.
Top gender-neutral Irish baby names we love
READ MORE
12/30/21, 9:25 PM 100 Irish first names and their beautiful meanings
https://www.irishcentral.com/roots/100-irish-language-first-names-meanings 2/12
3. Saoirse (ser-sha)
This name means "freedom" or "liberty."It has strong patriotic overtones and has only been in use
since the 1920s.
Little Saoirse? Little Ciara? What Irish name will you choose?
4. Ciara (kee-ra)
The feminine form of Ciaran, this name comes from the Gaelic word "ciar," which means dark. It
implies dark features, like hair or eyes. In history, St. Ciara was a distinguished figure who
established a monastery in Co. Tipperary during the seventh century.
5. Niamh (neev or nee-iv)
Meaning radiance, luster or brightness. In Irish mythology, Niamh was the daughter of Manannan,
the god of the sea - she was known as ‘Niamh of the Golden Hair’ and was usually depicted riding on
a white horse. She was the lover of poet-hero Oisin; together they lived in Tir-na-nOg, the land of
eternal youth.
6. Roisin (ro-sheen)
This name means "little rose," and has been used in Ireland since the sixteenth century. When Irish
patriotic poetry and song was outlawed in Ireland, Irish bands would disguise their nationalistic
verses and love songs, and sing about Roisin Dubh ("Dark Rosaleen") as the poetic symbol for their
country.
7. Cara
In Irish, Cara simply means "a friend."
8. Clodagh (cloda)
Named for the River Clodagh, or Clody River, which runs through Co. Tipperary and Co. Wexford.
Like most Irish rivers, the name is associated with a female deity.
9. Aisling (ash-ling)
This name means "dream" or "vision"from the Gaelic word ‘aislinge’ and refers to an “aisling,” which
is a poetic genre of Irish language poetry from the late 17th century. It only started being used as a
first name in the 20th century. The poetic genre has been personified in Ireland as a beautiful
woman in peril.
10. Eabha (ey-va)
This is the Irish form of Eve (Adam and Eve are Ádhamh agus Éabha in Irish). It means ‘life,’ but
comes with all of the connotations of the name Eve, i.e. the mother of all the living.
11. Aoibhinn (ee-van or ay-veen)
This name means pleasant, beautiful sheen of radiant beauty. It was a common name for princesses
among the royal families of Ireland that has been revived in recent years.
12. Aine (awn-ye)
5
12/30/21, 9:25 PM 100 Irish first names and their beautiful meanings
https://www.irishcentral.com/roots/100-irish-language-first-names-meanings 3/12
This name comes from the noun aine, which means "radiance, splendor, brilliance." The name is
connected to fruitfulness and prosperity. In Irish legend, Aine, the Queen of the Munster fairies,
was one of the wives of Fionn MacCool.
13. Sadhbh (sive,sigh-v)
This name mean can either mean sweet and lovely, or wise.
14. Aoibheann (ay-veen)
This name means “of pleasant, beautiful sheen” or “radiant beauty.” It is often interpreted as a
diminutive for the word Eve, or, “little Eve.”
15. Fiadh (fee-a)
Fiadh is an old Irish word meaning “wild,” in the sense of a wild animal. It comes from the word for
"wildlife," fiadhúrla.
16. Aoibhe (ey-va)
This comes from the Gaelic word “aoibh,” which means beauty.
17. Laoise (lee-sha)
This means "radiant girl," and is often Anglicized as Louisa. It also refers to light.
18. Eimear (ee-mur)
This name means "swift."In the Irish legend, Eimear was the wife of warrior legend Cuchulainn, and
was said to have possessed the six gifts of womanhood, which are beauty, a gentle voice, sweet
words, wisdom, needlework, and chastity.
19. Orla
Also spelled Orlaith, this name means “golden princess” or “golden sovereign” in Irish. Both the
sister and daughter of Brian Boru were named Orla.
20. Meabh (Maeve)
This name means “intoxicating.” In the Irish legend, Meabh was the warrior queen of Connacht.
21. Shauna
As the feminine form of the popular Irish boys’ name Sean, this name means “God is gracious.” The
name can also mean “present.”
Looking for an Irish baby name? We got them!
22. Shannon
This name means “wise river.” The Irish form is Sionainn and it has many spelling variations, but it
comes from ‘sion’ (wise) and ‘abhainn’ (river).
23. Sinead (shin-ade)
5
12/30/21, 9:25 PM 100 Irish first names and their beautiful meanings
https://www.irishcentral.com/roots/100-irish-language-first-names-meanings 4/12
This is the Irish form of the name “Jane” or “Jeannette,” and means “God is gracious.”
24. Grainne (grawn-ye)
From the Irish word “gran,” meaning grain or corn. In ancient Ireland, Grainne was the goddess of
the grain or harvest. There is also a famous legendary Irish narrative, “The pursuit of Diarmuid and
Grainne,” which is about the love triangle between Fionn MacCool, princess Grainne and Fianna
member Diarmuid O’Dyna.
25. Kayleigh (kay-lee)
This name means "slim and fair" or "slender," deriving from the Gaelic word for slender, which is
‘caol.’
26. Fiona
This name means fair, white, beautiful. It is the feminine form of Fionn.
27. Emer (eemer)
This name means "swift."In the Irish legend, Eimear was the wife of warrior legend Cuchulainn, and
was said to have possessed the six gifts of womanhood, which are beauty, a gentle voice, sweet
words, wisdom, needlework and chastity.
28. Siobhan (shiv-on)
Siobhan is another form of the name “Joan,” and means “God has been gracious” or “God’s grace.” It
can also mean “full of charm.”
29. Ailbhe (alva)
This name is likely derived from the Gaelic word "albho" which means ‘white.’ In Irish legend, this
was the name of a female warrior in the Fianna.
30. Mairead (mi-rade)
This is the Irish form of Margaret. It means “pearl.”
31. Cliodhna (clee-na)
This name comes from the word “clodhna,” meaning “shapely.” In some Irish myths, Cliodhna is the
goddess of love and beauty. In some myths, she is the Queen of the Banshees.
32. Imogen (imma-jen)
This name means “maiden” or “daughter” from the Gaelic word “inghean” It can also be translated as
“innocent” or “blameless.”
33. Orlaith (orla)
These were Ireland’s most popular baby names in 2020
READ MORE
12/30/21, 9:25 PM 100 Irish first names and their beautiful meanings
https://www.irishcentral.com/roots/100-irish-language-first-names-meanings 5/12
This name means “golden princess” or “golden sovereign” in Irish. Both the sister and daughter of
Brian Boru had this name.
34. Caragh (kara)
This name means “friend” and “beloved.”
35. Aoibh (eve)
The Irish variant of “eve,” this name means beautiful and radiant.
36. Blathnaid (blaw-nid)
In Irish, “blath” means flower or blossom. It is the Irish version of Florence, derived from the Latin
word Florentia, which means blooming or blossoming.
37. Cadhla (ky-lah)
This name means beautiful, comely, and graceful.
38. Dearbhla (durv-la)
In Irish, ‘dearbh’ means truth, and ‘ail’ means loveliness or desire. This name implies “true desire.”
39. Bronagh (brona)
This name is rooted in the Irish word bronach, which means sad or sorrowful. Saint Bronagh is a
venerated figure in Co. Down, where the name is popular.
40. Riona (ree-ona)
This comes from "rionach," and means "queenly."
41. Sorcha (sur-ka)
As the Gaelic form of the name Sarah or Sally, this name means “brightness” or “radiant.”
42. Nuala (noo-lah)
This is the diminutive of the name Fionnuala, which means “fair shoulder.” Sometimes used as an
alternate for the name “Una,” which means lamb.
43. Eireann (erin)
This name means Ireland, as the genitive case of the word Eire. Commonly Anglicized as Erin.
44. Oonagh (Una)
This name means lamb, from the Gaelic word uan. Sometimes the name is translated as “unity,” from
“una,” the Latin word for “one.”
45. Sile (shee-la)
This is the Irish form of the Latin name Cecilia, the patron saint of music, and implies ‘pure and
musical.’
12/30/21, 9:25 PM 100 Irish first names and their beautiful meanings
https://www.irishcentral.com/roots/100-irish-language-first-names-meanings 6/12
46. Muireann (mweer-in)
This name means "sea white, sea fair."In Irish mythology, this was the name of a 6th century
mermaid caught by a fisherman in Lough Neagh. He brought her to St. Comghall, who baptized her,
transforming her into a woman.
47. Nessa
This name can mean “rough” or “not gentle.” In Irish mythology, she was the powerful and ambitious
mother of Conchobar (Conor) MacNessa, King of Ulster.
48. Fionnuala (fi-noola)
A variation of the name Finnguala, which means ‘fair shoulder’ or ‘white shoulder,’ from “fionn”
meaning white and “guala” meaning shoulder.
49. Deirdre (deer-dra)
This name comes from the older Gaelic form “Derdriu.” The meaning is possibly derived from the
Celtic word for woman. In Irish legend, Dierdre was the name of a tragic character who died of a
broken heart after Conchobar, the King of Ulster, killed her lover Naoise.
50. Eithne (enya)
In Irish this name means “kernel of a nut or seed.” There were at least nine Saint Eithnes. It is also
associated with the name Aidan, which means “little fire.”
Irish Boys Names:
1. Conor
Usually translated as “lover of hounds.” It can also mean “high desire,” as derived from the Irish
word “coachuhhar.” Conchobhar MacNessa was the king of Ulster; according to the legend, he was
born on the same day as Christ.
2. Sean
Sean is the Irish cognate of the name John, and means “God is gracious.” It can also mean “wise, old.”
3. Oisin (uh-sheen or o-sheen)
Meaning “little deer.” In Irish mythology, Oisin was a poet-hero, son of legendary warrior Fionn
MacCool and the goddess Sive. His mother was turned into a deer by the Dark Druid, and she
raised him in the forest for seven years; when his father found him while hunting, he recognized the
boy as his own son and gave him the name “little deer.”
4. Patrick
Irish boy's name revealed as most popular in the US in 2020
5
READ MORE
12/30/21, 9:25 PM 100 Irish first names and their beautiful meanings
https://www.irishcentral.com/roots/100-irish-language-first-names-meanings 7/12
Patrick is the Anglicized form of the Irish name Padraig, from the latin Patricius which means “nobly
born.” The patron Saint of Ireland.
5. Cian (kee-an)
This name means “ancient,” or “enduring.” In the Irish legend, Cian Mac Mael Muad was the son-inlaw of Brian Boru, both of whom were killed in the Battle of Clontarf.
6. Liam
Liam means a strong-willed warrior and protector. It is the short form of the Irish name Uilliam,
which comes from the Frankish Willahelm. It is also the Irish cognate of the name William.
7. Darragh (darra)
Some translate Darragh into “fruitful” or “fertile,” and some translate the name into “dark oak” or
“oak tree.” According to the Irish legend, Daire Mac Fiachna owned the Brown Bull of Cooley, and
his refusal to sell it to Queen Maebh was part of the cause for the fight between Ulster and
Connacht.
8. Cillian (kill-ee-an)
This name has several known meanings, including “war,” “strife,” and “bright-headed.” The word cille
also means “associated with the church,” so the name is often associated with the word “church” or
“monastery.”
9. Fionn (finn, fee-in or fyon)
meaning “fair-headed,” “white” or “clear.” Other translations include “small blonde soldier” and
“handsome.” Fionn MacCool was a central character in Irish folklore and mythology - he was the
leader of the warrior band “The Fianna.” Known for being brave, handsome, wise and generous.
10. Finn
Finn is the Anglicized version of Fionn. Meaning fair, blonde, or “small blonde soldier.”
11. Rian (ree-an)
This name means “little king” or “kingly.” Diminutive of the Irish word for “king,” which is “rí.”
12. Eoin (owen)
This name means “young.”
13. Oscar
Meaning “deer lover” or “friend of deer” as derived from the Gaelic “os” (deer) and “cara” (friend). In
Irish mythology, Oscar was the son of the poet Oisin, and the grandson of the hero Finn MacCool.
14. Callum
The Gaelic form of the Latin “columba,” which means “dove.” It can also be translated as “the servant
or disciple of Columba.”
15. Aidan
12/30/21, 9:25 PM 100 Irish first names and their beautiful meanings
https://www.irishcentral.com/roots/100-irish-language-first-names-meanings 8/12
The Anglicized form of Gaelic “Aodhan,” which means “little fiery one.”
16. Tadhg (tige)
This name means “poet” or “bard” in Irish. It was the name of an 11th century King of Connacht.
17. Cathal (ka-hal)
Meaning “strong in battle.” Derived from Gaelic “cath” (battle) and "val"(rule). It was the name of a
7th-century Irish saint.
18. Shane
“Gift from God.” Anglicized form of Sean.
19. Senan (sennin)
This name means “little wise person,” “old” or “ancient.” Derived from Sean with a diminutive suffix.
20. Ronan
This is a very old name meaning “little seal,” derived from the diminutive form of “ron” (seal). There
were twelve saints named Ronan as well as an ancient king of Leinster.
21. Eoghan (owen)
“Born of the yew tree.” Often associated with the Greek name “Eugenes.”
22. Rory
Meaning “red” or “rust-colored.” Borne by Rory O’Connor, the last high king of Ireland, who reigned
from 1166-1170.
23. Cormac
This name means “son of defilement,” from Gaelic “corb” (defilement) and “mac” (son). This was the
name of a 3rd-century king of Ireland. Some think it means “charioteer.”
24. Odhran (orin)
Means “little pale green one,” derived from the Irish “odhra” (pale green, sallow), plus a diminutive
suffix.
25. Ciaran (kee-ran)
Meaning “little dark one.” Diminutive of Gaelic word “ciar,” which means black.
26. Dara
Northern Ireland's most popular and unusual Irish baby names of 2020 revealed
READ MORE
12/30/21, 9:25 PM 100 Irish first names and their beautiful meanings
https://www.irishcentral.com/roots/100-irish-language-first-names-meanings 9/12
This name comes from "daire" and means “fruitful” or “fertile.” In the Irish legend, Daire Mac
Fiachna, who owned the Brown Bull of Cooley, refused to sell the bull to Queen Maebh, which was
thought to be the reason for the fight between Ulster and Connacht.
27. Shay
In Irish, Shay means hawk or hawk-like and noble.
28. Donnacha (done-acka)
This name means "brown-haired warrior." Derived from the Gaelic “donn” (brown) and “cath”
(battle). Brian Boru’s son Donncha was a High King of Ireland until his death in 1064.
29. Killian
Derived from Gaelic “cille” and means “associated with the church.” Borne by several Irish saints.
Little Liam? Baby Cormac? We've got all the most popular Irish boy's names.
30. Niall (nye-al or niel)
This name can either mean “champion, passionate, or vehement” from the Gaelic "niadh," or “cloud”
from the Gaelic word "neall." Niall of the Nine Hostages was a 4th century king of Tara.
31. Ruairi (rory)
This name means “red-haired king,” from “ruadh” meaning red, as in the red colored hair of foxes.
32. Brian
This name means high, noble and strong. From Gaelic ‘brigh.’ The name has been incredibly
widespread in Ireland, in honor of Brian Boru, High King of Ireland.
33. Oran
This name means white, light, or pale. Some believe it to mean sallow, pale green, or “little pale
green one.”
34. Darren
Likely derives from the Gaelic name Darragh, meaning ‘little oak.’ The oak tree is a powerful symbol
to the Celts, representing nobility, strength, vitality, and wisdom.
35. Brandon
This name derives from the Irish “Bréanainn” which comes from the word “brenhin” meaning prince.
36. Craig
This popular name comes from the Gaelic word “carraig” which means rock or crag.
37. Colm (collum)
This is the Gaelic variation of the Latin “columba” meaning dove.
38. Padraig (paw-drig, patrick)
5
12/30/21, 9:25 PM 100 Irish first names and their beautiful meanings
https://www.irishcentral.com/roots/100-irish-language-first-names-meanings 10/12
Gaelic form of the Latin “Patricius” meaning “nobly born.” Patron Saint of Ireland.
39. Donal
“Ruler of the world” is the implied definition of this name, from “domhan” (world) and “all” (mighty).
40. Diarmuid (deer-mid)
This name means “without enemy.” It has been the name of kings, heroes, and saints. In Irish legend,
Diarmuid was the lover of Grainne, and the most beloved member of the warrior band the Fianna.
“Dermot” is the Anglicized version.
41. Lorcan
This name can mean either “silent” or “fierce.” Lorcan was the name of Brian Boru’s grandfather as
well as two kings of Leinster. It was likely used as the nickname for a “brave warrior.”
42. Barry
Meaning “fair-haired,” this name is associated with Saint Finbar, the patron saint of Cork.
43. Collin
This name means cub or puppy from the Gaelic word “cailean.” It can also be used as a diminutive of
the name Nicholas, which means victor or victorious people.
44. Brendan
At least 17 saints bear the name Brendan, but perhaps the most famous would be Saint Brendan
the Navigator. One of the rumors about the Navigator is that he was the first European to set foot
on American soil, a thousand years before Columbus. Anglicized form of the Irish Breandan,
meaning prince.
45. Conan
From the word “con” meaning hound or wolf. Some say the meaning can also be “swift-footed
warrior.” With the suffix “-an,” it means “little warrior.” According to Irish legend, Conan Maol (‘Bald
Conan’) was part of the Fianna warrior band.
46. Caolan (keelin)
This name means "slender"from the Gaelic word "caol."
47. Aodhan (aidan)
As a diminutive form of “Aod” which means fire, this name implies the meaning "born of fire" or
"fiery." Popularized by Saint Aidan of Iona.
48. Tiernan
This name means “little lord.” Tiernan O’Rourke was a 12th C. Irish king.
49. Daithi (da-hee)
This is an old Irish name that means “swiftness” or “nimbleness.” Daithi, the last Pagan king of
Ireland who ruled from 405-426 AD, had 24 dons.
12/30/21, 9:25 PM 100 Irish first names and their beautiful meanings
https://www.irishcentral.com/roots/100-irish-language-first-names-meanings 11/12
Read this next
50. Fergal
This name comes from Fearghal, and means brave, courageous and valorous.
* Originally published in 2014.
IrishCentral History
Love Irish history? Share your favorite stories with other history buffs in the IrishCentral History
Facebook group.
Sign up to IrishCentral's newsletter to stay up-to-date with everything Irish!
Subscribe to IrishCentral
Related: Irish Language
TRAVEL
The Custom House Visitor Centre officially opens its doors in Dublin city
Read this next
HISTORY
Top gods and goddesses from Celtic mythology
ROOTS
Myths and legends from Ireland’s five longest rivers
HISTORY
12/30/21, 9:25 PM 100 Irish first names and their beautiful meanings
https://www.irishcentral.com/roots/100-irish-language-first-names-meanings 12/12
The musical instruments of ancient Ireland
IRISHCENTRAL NEWSLETTERS
SUBSCRIBE TO OUR NEWSLETTER
FOLLOW US
BASICS
Authors
Topics
About Us
Contact Us
Advertise
Privacy Policy
Terms and Conditions
Register
Sitemap
SECTIONS
News
Business
Opinion
Culture
Travel
Roots

In [21]:
# Compile the regular expression for matching patern.
re_names = re.compile(r'[0-9]+\.\s[A-Za-z]+')

In [22]:
result = re.findall(re_names, data)
result

['100.\nKayla',
 '1. Aoife',
 '2. Caoimhe',
 '3. Saoirse',
 '4. Ciara',
 '5. Niamh',
 '6. Roisin',
 '7. Cara',
 '8. Clodagh',
 '9. Aisling',
 '10. Eabha',
 '11. Aoibhinn',
 '12. Aine',
 '13. Sadhbh',
 '14. Aoibheann',
 '15. Fiadh',
 '16. Aoibhe',
 '17. Laoise',
 '18. Eimear',
 '19. Orla',
 '20. Meabh',
 '21. Shauna',
 '22. Shannon',
 '23. Sinead',
 '24. Grainne',
 '25. Kayleigh',
 '26. Fiona',
 '27. Emer',
 '28. Siobhan',
 '29. Ailbhe',
 '30. Mairead',
 '31. Cliodhna',
 '32. Imogen',
 '33. Orlaith',
 '34. Caragh',
 '35. Aoibh',
 '36. Blathnaid',
 '37. Cadhla',
 '38. Dearbhla',
 '39. Bronagh',
 '40. Riona',
 '41. Sorcha',
 '42. Nuala',
 '43. Eireann',
 '44. Oonagh',
 '45. Sile',
 '46. Muireann',
 '47. Nessa',
 '48. Fionnuala',
 '49. Deirdre',
 '50. Eithne',
 '1. Conor',
 '2. Sean',
 '3. Oisin',
 '4. Patrick',
 '5. Cian',
 '6. Liam',
 '7. Darragh',
 '8. Cillian',
 '9. Fionn',
 '10. Finn',
 '11. Rian',
 '12. Eoin',
 '13. Oscar',
 '14. Callum',
 '15. Aidan',
 '16. Tadhg',
 '17. Cathal',
 '18. Shane',
 '19. Senan',
 '20. Ronan',
 '21. Eoghan',
 '22. Rory',
 '23. Cormac',
 '24. Odhran',
 '25. Ciaran',
 '26. Dara',
 '27. Shay',
 '28. Donnacha',
 '29. Killian',
 '30. Niall',
 '31. Ruairi',
 '32. Brian',
 '33. Oran',
 '34. Darren',
 '35. Brandon',
 '36. Craig',
 '37. Colm',
 '38. Padraig',
 '39. Donal',
 '40. Diarmuid',
 '41. Lorcan',
 '42. Barry',
 '43. Collin',
 '44. Brendan',
 '45. Conan',
 '46. Caolan',
 '47. Aodhan',
 '48. Tiernan',
 '49. Daithi',
 '50. Fergal',
 '2014.\nIrishCentral']

In [23]:
df = pd.DataFrame({'names':result})
print (df)

                   names
0            100.\nKayla
1               1. Aoife
2             2. Caoimhe
3             3. Saoirse
4               4. Ciara
..                   ...
97            47. Aodhan
98           48. Tiernan
99            49. Daithi
100           50. Fergal
101  2014.\nIrishCentral

[102 rows x 1 columns]

# Joining all the data

Data will be joined together indexing one of data variables

# Save as CSV/xlsx

In [24]:
df2.to_excel('data/check.xlsx')

# Data overview and analysis/plots

In [25]:
Descriptive statistics

SyntaxError: invalid syntax (<ipython-input-25-fb5d223276d5>, line 1)

In [ ]:
views by time of the week kde line plot or time series line plot

In [ ]:
pie plot for most streamed movie categories by gender

In [ ]:
average week day views vs average weekend views?

In [ ]:
bar plot for one weeks streams

# References

https://stackoverflow.com/questions/41598916/resize-the-image-in-jupyter-notebook-using-markdown

https://stackoverflow.com/questions/41598916/resize-the-image-in-jupyter-notebook-using-markdown

https://stackoverflow.com/questions/56310849/generate-random-timeseries-data-with-dates

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

https://numpy.org/doc/stable/reference/generated/numpy.rint.html

https://stackoverflow.com/questions/28009370/get-weekday-day-of-week-for-datetime-column-of-dataframe

https://pandas.pydata.org/pandas-docs/version/0.17.1/merging.html

https://www.stackvidhya.com/pandas-iterate-over-rows/

https://datagy.io/pandas-conditional-column/

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.itertuples.html

https://www.geeksforgeeks.org/how-to-generate-a-random-letter-in-python/

https://stackoverflow.com/questions/2823316/generate-a-random-letter-in-python

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [ ]:
https://www.tutorialspoint.com/python/string_decode.html